# Python virtual environments
.venv/

# Tracknet and YOLO weights
/data_prep/weights/

# Tuner
/training/tuner/

# Video files
*.mp4
# Image files
.png

data_prep/__pycache__/
training/__pycache__/

*/ipynb_checkpoints/